header {
    background: #36A1D4;
}

#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: bahnschrift, monserrat, DIN, barlow, sans-serif;
}

#right-panel {
    display: none;
}
/* The popup bubble styling. */
.popup-bubble {
    /* Position the bubble centred-above its parent. */
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    /* Style the bubble. */
    color: white;
    border:  2px solid #36A1D4;
    background:  #36A1D4;
    ;
    padding: 7px;
    border-radius: 5px;
    font-family: bahnschrift, monserrat, DIN, barlow, sans-serif;
    color: white;
    overflow-y: auto;
    max-height: 60px;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
   
}
/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
    /* Position the div a fixed distance above the tip. */
    position: absolute;
    width: 100%;
    bottom: /* TIP_HEIGHT= */ 8px;
    left: 0;
    background-color: #36A1D4;
}
/* This element draws the tip. */
.popup-bubble-anchor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* Center the tip horizontally. */
    transform: translate(-50%, 0);
    /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
    width: 0;
    height: 0;
    /* The tip is 8px high, and 12px wide. */
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    /* TIP_HEIGHT= */
    border-top:  8px solid #36A1D4;
    
}
/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
    cursor: default;
    height: 0;
    position: absolute;
    background-color: #36A1D4;
    /* The max width of the info window. */
    width: 200px;
}

.logo {
    display:inline-flex;
    padding-top: 10px;
    padding-left: 10px;

}

#logo{
    width: 200px;

}

.info{
    display:flex;
    justify-content: space-around;
    background: #E6F4F1;
    height: 100px;
}

.page {
   display:flex;
   /* flex-wrap:wrap; */
   flex-direction:row;
   justify-content:space-between;
   padding-top:2em;
   padding-left:2em;
   cursor: default;

}

#fill{
    width:185px;

  /*  margin-left:160px;*/
}

#print{
    width:160px;
 /*   margin-left:158px;*/
}

#deliver{
    width:183px;
  /*  margin-left:163px;*/
}

#mask {
    overflow: hidden;
    /*border-radius: 250px;*/
    position: absolute;
    height: 600px;
    width: 650px;
    margin:3px;
    cursor:default;
    
}
#map-background {
    /*background-color: #77bfe2;*/
    background-color: white;
    position:relative;
    /*border-radius: 253px;*/
    height: 600px;
    width: 650px;
    cursor: default;
    /* margin-right:8em; */
}
 
.gm-style{
    cursor: default;
}

section {
    margin:30px;
    
}


form {
    position:relative;
    height:500px;
    font-family: bahnschrift, monserrat, DIN, barlow, sans-serif;
    color:#36A1D4;
    font-size: 16pt;
    text-align:right;
    margin-left:1em;
    margin-right:2em;
    margin-top:2em;
    flex:1 1 80px;
    min-width:50px;
}

#name{
    position:absolute;
    font-family:  bahnschrift, monserrat, DIN, barlow, sans-serif;
    color:#36A1D4;
    padding:7px !important;
    border:2px solid #36A1D4;
margin:3px;
right:0;
top:25%;
}

#name:focus{
    border:4px solid #36A1D4;
    outline:none;
}

#number{
    position:absolute;
    font-family:  bahnschrift, monserrat, DIN, barlow, sans-serif;
    color:#36A1D4;
    padding:7px !important;
    border:2px solid #36A1D4;
    margin:3px;
    right:0;
top:35%;
}

#number:focus{
    border:4px solid #36A1D4;
    outline:none;
}

.pdf {
    position: relative;
    right: 15%;
    bottom:20%;
    background-color: #36A1D4;
    font-family:  bahnschrift, monserrat, DIN, barlow, sans-serif;
    font-size: 20pt;
    color: white;
    margin-top:350px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    
}


.pdf:hover{
     box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 12px 16px 0 rgba(0,0,0,0.19);
     outline:none;
}
.pdf:focus{
    outline:none;
}

.print-hidden{
    position:relative;
    width:100%;
    height:100%;
    margin:0;
    left:-20px;
}
 /* .print{
    position: inherit;
    left:100px;
} */

#content{
    width:800px;
    height:600px;
}

input.check1{
    position:absolute;
    opacity:0.5;
    width:30px;
    height:30px;
    color:#36A1D4;
    outline: 3px solid rgba(54, 161, 212, 1);
    cursor:pointer;
    margin:20px;
    margin-top:10px;
    top:0;
}
input.check1 :checked ~ .checkmark{
    background:#36A1D4;
    color:#36A1D4;
}
input.check2{
    color:#36A1D4;
    background-color:#36A1D4;
}

/* .checkmark{
    position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  outline: 3px #36A1D4; 
  z-index:1000;
} */
/* .checkbox{
    color:#36A1D4;
    background-color:#36A1D4;
} */
/* #cbox.name{
    background-color: red;
} */


       
        .print-hidden {
            display: none;
        }
      
 @media print
        {       
            @page { margin: 0; }
            body { margin: 0; }
            .no-print, .no-print *
            {
                display: none !important;
            }
            .print, .print *
            {
                display: block !important;
            }
            #map-background {
                width: 100% !important;
                height: 100% !important;
            }
            #mask {
                width: 610px !important;
                height: 580px !important;
                top: 23%;
                left: 6%;
                /* border-radius:0,100px; */
            }
            section {
                margin: 0 !important;
                padding: 0 !important;
            }
             .users-info-position {
                position: absolute;
                
                z-index: 1000;
                bottom: 25px;
                left:215px;
                font-family: bahnschrift, monserrat, DIN, barlow, sans-serif;
                color:#36A1D4;
                font-size: 10pt;
            }  
           #phone-div{
    
            bottom: 191px;
            left:215px;
            font-family: bahnschrift, monserrat, DIN, barlow, sans-serif;
            color:#36A1D4;
            font-size: 10pt;
           }
        }
    